{{#each readings as |reading|}}
  <section data-id="{{reading.id}}" class='reading-entry'>
    <h2>Date: {{reading.transaction_date}}</h2>
    <h4>Odometer reading: {{reading.odometer_reading}}</h4>
    <h4>Fuel amount: {{reading.fuel_amount}}</h4>
    <h4>Price:
      {{#if reading.price}}
        {{formatFloat reading.price}}
      {{else}}
        {{formatFloat 0}}
      {{/if}}
    </h4>
    <h4>Comment: {{reading.comment}}</h4>
    <form data-id="{{reading.id}}" class="data-id-{{reading.id}} update-entry hidden">
      <fieldset>
        <legend>Update Entry</legend>
        {{!-- NOTE: Some of these entries will need to be updated if we end up using radio buttons!! --}}
        <input type='date' name='reading[transaction_date]' value="{{reading.transaction_date}}" readonly required>
        <input type='number' min='0' name='reading[odometer_reading]' value="{{reading.odometer_reading}}" required>
        <input type='text' name='reading[odometer_units]' value='mi' class='hidden' required>
        <input type='number' min='0' step='0.1' name='reading[fuel_amount]' value="{{reading.fuel_amount}}" required>
        <input type='text' name='reading[fuel_units]' value='gal' class='hidden' required>
        <input type='number' min='0' step='0.01' name='reading[price]' value="{{formatFloat reading.price}}"/>
        <input type='text' name='reading[price_units]' value='US Dollars' class='hidden'/>
        <input type='text' name='reading[comment]' value="{{reading.comment}}"/>
        <input type='submit' value='Enter'/>
      </fieldset>
    </form>
    <button data-id="{{reading.id}}" class="data-id-{{reading.id}} calculator-button update-entry-button">Update Entry</button>
    <button data-id="{{reading.id}}" class="data-id-{{reading.id}} calculator-button update-entry-back-button hidden">Back</button>
    <button data-id="{{reading.id}}" class="data-id-{{reading.id}} calculator-button delete-entry-button">Delete Entry</button>
  </section>

{{/each}}
